/* Swiper 範例樣式 */

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

p,
code,
label,
button {
  font-size: 20px;
}

.hr-main {
  border: 2px dashed #0000ff;
  margin-top: 44px;
  margin-bottom: 44px;
}

.hr-sub {
  border: 2px dotted gray;
  margin-top: 32px;
  margin-bottom: 32px;
}
